<form action="/umarotaqualquer" method="POST">
    <h2>Titulo:</h2>
    <input type="text" name="Titulo" id="">
    <p>Conteudo:</p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar Postagem</button>
</form>